.background-color{
    background-color:#FCFAF1;
    margin:0;
    padding:0;
}

.title{
    border-radius: 5px;
    display:flex;
    justify-content:center;/*左右對齊*/
    align-items:center;/*垂直對齊*/
    background-color:#667195;
    padding:15px;
    width: 45%;
    margin: 0 auto; 
    
}

.frame{
    margin:20px;
    font-weight: bold;
    width: 45%;
    margin: 0 auto; 
    margin-top:20px;
    
}

.style{
    border-radius: 5px;
    border:1.5px solid #9B9B9B; 
    background-color:#ffffff;
    padding:4px;  
    font-weight: normal;
}
